<div class="container">

  <div class="row-fluid col-wrap">
    <div class="span2 col">
        On the center pane you can see your overall score and your score in subcategories based on our transparent algorithm
        <br/><br/>
        <%= link_to "Facebook import", user_omniauth_authorize_path(:facebook) %>
     </div>

    <div class="span10 col">
      <div class="span4 col  ">
        <div class="badge badge-important page-header">
          <h4>
            overall score:
          </h4>
        </div>
<div class="numberCircle"><%= @scores[:overall].round(2) %></div>
      </div>


      <div class="span8 row">
        <div class=" badge badge-info page-header">
          <h4>
            tech result:
          </h4>
        </div>
        <div class="numberCircle">
          <%= @scores[:tech].round(2) %>
        </div>
        <div class=" badge badge-info page-header">
          <h4>
            product results:
          </h4>
        </div>
        <div class="numberCircle">
          <%= @scores[:product].round(2) %>
        </div>
        <div class=" badge badge-info page-header">
          <h4>
            politics results:
          </h4>
        </div>
        <div class="numberCircle">
          <%= @scores[:politics].round(2) %>
        </div>
        <div class=" badge badge-info page-header">
          <h4>
            sports results:
          </h4>
        </div>
        <div class="numberCircle">
          <%= @scores[:sports].round(2) %>
        </div>
      </div>
    </div>

  </div>

  <div>
    <%= @fb_scores.inspect %>
  </div>
</div>
